
* {
    margin: 0px;
    align-items: center;
    text-align: center;
}

body {
    background-color: rgb(255, 225, 252);
    font-family: "Helvetica Neue",
    Arial,"Hiragino Kaku Gothic ProN",
    "Hiragino Sans",Meiryo,sans-serif;
    color: white;
}

.link-text {
    color: rgb(200, 142, 255);
    text-decoration-style: none;
    font-size: 20px;
}

.infomation {
    background-color: rgba(255, 129, 251, 0.979);
    width: 70%;
    font-size: 20px;
    color: grey;
}

.about-me {
    height: 200px;
    margin-top: 70px;
    padding: 10px;
}

.skills {
    height: 300px;
}

h1 {
    margin: 10px;
}

.header {
    background-color: rgb(88, 22, 77);
    width: 100%;
    height: 70px;
    position: fixed;
}

.header_ko {
    text-align: left !important;
    font-weight: bold;
    padding-top: 25px;
    padding-left: 50px;
}

.ko {
    padding-left: 30px;
    margin: 20px;
}

.ko_f {
    font-weight: bold;
}

.cotton_field {
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.main  {
    width: 100%;
    height: 700px;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.cotton {
    width: 250px;
    border-radius: 8px;
    border: 8px;
    border-color: rgb(255, 169, 226);
}

.helloworld {
    width: 270px;
    font-weight: bold;
    font-size: 20px;
}

.container {
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    height: 200px;
}

.top {
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    height: 500px;
    width: 100%;
    padding-top: 100px;
    background-color: rgb(255, 169, 226);
}
