header {
    background-color: rgb(175, 255, 255);
    height: 50;
    border: rgb(2, 255, 242);
    border-radius: 8px;
    
}

.nav_toggle {
    float: right;
    display: block;
    position: relative;
    width: 1.75rem;
    height: 1.5rem;
}

.nav_toggle i {
    float: right;
    display: block;
    width: 100%;
    height: 2px;
    right: 5px;
    background-color: rgb(238, 230, 230);
    position: absolute;
    transition: transform .5s, opacity .5s;
}

.nav_toggle i:nth-child(1) {
    top: 0;
}

.nav_toggle i:nth-child(2) {
    top: 0;
    bottom: 0;
    margin: auto;
}

.nav_toggle i:nth-child(3) {
    bottom: 0;
}

.nav_toggle.open i:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
}

.nav_toggle.open i:nth-child(2) {
    opacity: 0;
}

.nav_toggle.open i:nth-child(3) {
    transform: translateY(-12px) rotate(45deg);
}

.nav {
    float: right;
    position: fixed;
    top: 3rem;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s;
}

.nav.open {
    opacity: 1;
    visibility: visible;
}

body {
    background-color: rgb(196, 227, 255);
}


.helloworld {
    font: bold, italic;
    font-size: 15px;
    font-family: sans-serif;
    color: rgb(255, 182, 206);
}