.header {
    background-color: rgb(158, 45, 139);
    width: 100%;
    height: 70px;
    position: fixed;
}

.name {
    padding-top: 30px;
    padding-left: 50px;
}

.general_text {
    color: white;
    font-style: bold;
    font-size: 15px;
    font-family: sans-serif;
}

.power_text {
    color: white;
    font-style: italic;
    font-size: 15px;
    font-family: serif;
}

body {
    background-color: rgb(253, 241, 255);
}

.container {
    background-color: rgb(236, 224, 208);
    align-items: center;
}
