
* {
    margin: 0px;
}

body {
    background-color: rgb(255, 206, 251);
    font-family: "Helvetica Neue",
    Arial,"Hiragino Kaku Gothic ProN",
    "Hiragino Sans",Meiryo,sans-serif;
    color: white;
    align-items: center;
}

.header {
    background-color: rgb(88, 22, 77);
    width: 100%;
    height: 70px;
    position: fixed;
}

.ko {
    padding-left: 30px;
    margin: 20px;
}

.ko_f {
    font-weight: bold;
}

.cotton {
    width: 250px;
}

.helloworld {
    width: 270px;
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.top {
    height: 800px;
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
    background-color: rgb(255, 164, 250);
}
